@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f1f1f1;
    margin: 50px auto;
}

p {
    font-weight: 600;
}

h2 {
    font-weight: bolder;
}

img {
    width: 100%;
}

header {
    text-align: center;
    line-height: 35px;
}

header h1 {
    font-weight: bold;
    font-size: 25px;
}

header span {
    padding: 3px 6px;
    color: white;
    background-color: black;
    font-weight: 500;
}


main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
}

.heading-wrapper {
    width: 690px;
    margin-right: 50px;
}

.heading-container {
    margin-bottom: 50px;
}

.heading-entry-text {
    background-color: white;
    padding: 10px;
}

.heading-entry-text h2 {
    font-size: 25px;
    margin: 10px 0;
}

.heading-entry-text p {
    margin: 15px 0;
    font-size: 11px;
    line-height: 18px;
}

.heading-entry-text span {
    color: #5c5c5c;
}

.heading-entry-text button {
    background-color: transparent;
    border: 1px solid #cdcdcd;
    padding: 10px 15px;
    font-weight: 600;
}

.more-comments {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.more-comments span {
    padding: 3px 6px;
    margin-left: 5px;
    background-color: black;
    color: white;
    font-size: 15px;
}

.different span {
    border-radius: 50%;
}

.aside-section {
    width: 310px;
}

.owner-blog {
    margin-bottom: 60px;
}

.owner-text {
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}

.owner-text h2 {
    margin-bottom: 15px;
}

.owner-text p {
    font-size: 11px;
    line-height: 18px;
}

.other-popular-posts {
    background-color: #f1f1f1;
    margin-bottom: 50px;
}

.popular-post {
    margin-left: 10px;
    height: 40px;
}

.other-popular-posts img {
    width: 60px;
    height: 60px;
}

.other-post {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3px;
    background-color: white;
    padding: 10px 0;
}

.other-post-title {
    width: 210px;
    line-height: 15px;
}

.other-post-title>p {
    margin-top: 10px;
}

.post-tags-title {
    margin: 0 0 15px 15px;
    font-size: 20px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: white;
    padding: 15px 0 25px 15px;
}

.tags div {
    padding: 5px;
    margin: 5px;
    background-color: #f1f1f1;
}

.tags .showed-tags {
    background-color: black;
    padding: 7px 7px;
    color: white;
}
