@media screen and (max-width: 1200px) {
    
    .heading-wrapper {
        width: 640px;
    }

    .aside-section {
        width: 270px;
    }
}

@media screen and (max-width: 1024px) {
    
    header h1 {
        font-size: 23px;
    }

    header p {
        font-size: 15px;
    }
    
    .heading-wrapper {
        width: 600px;
    }

    .aside-section {
        width: 240px;
    }

    .heading-entry-text h2 {
        font-size: 23px;
    }

    .heading-entry-text button {
        font-size: 16px;
        padding: 3px 7px;
    }

    .tags {
        font-size: 14px;
    }

    .other-post {
        padding: 10px 5px;
    }

    .other-post-title p {
        font-size: 14px;
    }


}

@media screen and (max-width: 920px) {
    
    header {
        line-height: 25px;
    }

    header h1 {
        font-size: 20px;
    }

    header p {
        font-size: 13px;
    }

    main {
        margin-top: 25px;
    }
    
    .heading-wrapper {
        width: 525px;
        margin-right: 25px;
    }

    .aside-section {
        width: 200px;
    }

    .heading-entry-text h2 {
        font-size: 20px;
    }

    .heading-entry-text button {
        font-size: 13px;
        padding: 2px 5px;
    }

    .tags {
        font-size: 12px;
    }

    .other-post {
        padding: 10px 5px;
    }

    .other-post-title p {
        font-size: 12px;
    }
    
    .other-post-pic {
        margin-left: 5px;
    }

    .other-post-title {
        margin-left: 5px;
    }
}

@media screen and (max-width: 768px) {
    
    .heading-wrapper {
        width: 600px;
    }

    .aside-section {
        width: 600px;
    }

    .owners-pic {
        width: 450px;
        margin: 0 auto;
    }

    .owner-text {
        width: 430px;
    }

    .popular-post {
        text-align: center;
    }

    .other-post-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .other-post {
        width: 200px;
        margin: 5px;
    }

    .post-tags {
        width: 450px;
        margin: 0 auto;
        text-align: center;
    }

    .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    
}
